@page "/"
@page "/{categoryurl}"
@inject ICategoryService categoryService
@inject IProductService productService
@inject ISyncLocalStorageService localStorage
@inject IStatsService statsService
<PageTitle>Blazor Web Store</PageTitle>


@if(category != null)
{
        <h1>Welcome to @category.Name Section!</h1>

        <ProductList />

}else
{
<ProductList/>
}



@code{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    private Category? category = null;


    protected override async Task OnParametersSetAsync()
    {
        await productService.LoadProducts(CategoryUrl);

        if(CategoryUrl != null)
        {
            category =  categoryService.Categories.FirstOrDefault(c => CategoryUrl.ToLower().Equals(c.Url.ToLower()));
        }
        else
        {
            category = null;
        }
        await statsService.IncrementVisits();
        await statsService.GetVisits();
    }
}
