@page "/login"
@inject ILocalStorageService localStorageService
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider 
<h3>Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private User user = new User();

    private async void HandleLogin()
{
        Console.WriteLine("login ");
        await localStorageService.SetItemAsync<string>("username", user.Username);
        await authStateProvider.GetAuthenticationStateAsync();
        navManager.NavigateTo("");
}
}

